.zreptil-table
{
  border-collapse: collapse;
  border-spacing: 0;
}
.container 
{
  margin: 5% 3%;
}
.zreptil-table 
{
  width: 100%;
  margin-bottom: 1.5em;
}
.zreptil-table thead 
{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.zreptil-table thead th 
{
  background-color: #1d96b2;
  border: 1px solid #1d96b2;
  font-weight: normal;
  text-align: center;
  color: white;
}
.zreptil-table thead th:first-of-type 
{
  text-align: left;
}
.zreptil-table tbody,
.zreptil-table tr,
.zreptil-table th,
.zreptil-table td 
{
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}
.zreptil-table th,
.zreptil-table td 
{
  padding: .5em;
  vertical-align: middle;
}
@media (min-width: 30em) 
{
  .zreptil-table th,
  .zreptil-table td 
  {
    padding: .75em .5em;
  }
}
.zreptil-table caption 
{
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.zreptil-table tfoot 
{
  font-size: .8em;
  font-style: italic;
}
.zreptil-table tbody tr 
{
  margin-bottom: 1em;
  border: 2px solid #1d96b2;
}
.zreptil-table tbody tr:last-of-type 
{
  margin-bottom: 0;
}
.zreptil-table tbody th[scope="row"] 
{
  background-color: #1d96b2;
  color: white;
  text-align: center;
}
.zreptil-table tbody td 
{
  text-align: right;
}
.zreptil-table tbody td[data-type=currency] 
{
  text-align: right;
}
.zreptil-table tbody td[data-title]:before 
{
  content: attr(data-title) "\A" attr(data-subtitle);
  float: left;
  font-size: .8em;
  line-height: 1.25em;
  color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) 
{
  .zreptil-table tbody td 
  {
    border-bottom: 1px solid #1d96b2;
  }
  .zreptil-table tbody td[data-title]:before 
  {
    font-size: .9em;
  }
}
@media (min-width: 35em) 
{
  .container 
  {
    margin: 2%;
  }
  .zreptil-table 
  {
    font-size: .9em;
  }
  .zreptil-table thead 
  {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
  .zreptil-table tr 
  {
    display: table-row;
  }
  .zreptil-table th,
  .zreptil-table td 
  {
    display: table-cell;
    padding: .5em;
  }
  .zreptil-table caption 
  {
    font-size: 1.5em;
  }
  .zreptil-table tbody 
  {
    display: table-row-group;
  }
  .zreptil-table tbody tr 
  {      
    display: table-row;
    border-width: 1px;
  }
  .zreptil-table tbody tr:nth-of-type(even) 
  {
    background-color: rgba(94, 93, 82, 0.1);
  }
  .zreptil-table tbody th[scope="row"] 
  {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
  }
  .zreptil-table tbody td 
  {
    text-align: center;
  }
  .zreptil-table tbody td[data-title]:before 
  {
    content: none;
  }
}
@media (min-width: 62em) 
{
  .zreptil-table 
  {
    font-size: 1em;
  }
  .zreptil-table th,
  .zreptil-table td 
  {
    padding: .75em .5em;
  }
  .zreptil-table tfoot 
  {
    font-size: .9em;
  }
}
@media (min-width: 75em) 
{
  .container 
  {
    margin: 2em auto;
    max-width: 75em;
  }
  .zreptil-table th,
  .zreptil-table td 
  {
    padding: .75em;
  }
}
